body {
    background: #e7e8ec;

}

/* <!-- searchbar --> */
.search-main {
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: 99;
}

.search-bar .form-control {
    padding-left: 2.375rem;

}

input::placeholder {
    color: #aaa !important;
    opacity: 0.8 !important;
}

.search-bar .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #6c757d;
    border: #ced4da;
}

/* <!-- slider --> */
.carousel-indicators button {
    border-radius: 100% !important;
    width: 0.3em !important;
    height: 0.3em !important;

}

/* <!-- promotion --> */
.promotion {
    margin-top: 7%;
}

/* <!-- //category bar// --> */
.channel-content {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 5%;
}

.channel-content img {
    width: 75%;
    margin-bottom: 0.2em;
}

/* <!-- //category section// --> */
.content-row {
    display: flex;
    justify-content: space-between;
    margin: 2%;

}

.categories {
    background-color: white;
    display: flex;

    list-style-type: none;

}

.categories li {
    border: thin solid #999999;
}

.categories img {
    width: 75%;
    margin-bottom: 0.2em;
}

.category-section {
    margin-bottom: 1em;

}

/* <!-- // most popular category section// --> */
.mostpopular-categories {
    background-color: white;
    display: flex;
    list-style-type: none;
}

.mostpopular-categories li {
    border: thin solid #999999;
}

.mostpopular-categories img {
    width: 70%;

}

.most-popular-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.most-popular-content span {
    margin: 0.2em;
}

/* //flash sale// */
.strip {
    background-color: #ff6801;
    ;
    padding: 0.5em;
    color: white;
}

.flashsale {
    background-color: white;
    display: flex;

    list-style-type: none;

}

.flashsale img {
    width: 100%;

}

.flashsale-content {

    display: flex;


}

.flashsale-content span {
    display: flex;
    align-items: center;
    margin: 1em;

}

.sale {
    border: thin solid #999999;
}

/* <!-- //JUST FOR YOU// --> */
.justforyou {
    background-color: white;
    display: flex;


    list-style-type: none;
}

.justforyou img {
    width: 100%;
}

.justforyou-main {
    margin: 1em;
    line-height: 0.2em;
    font-size: small;
}

/* //end// */
.end-text {
    line-height: 1em;
    color: #9e9e9e;
}

.text {

    font-size: 12px;
    margin-bottom: 5%;
    margin-top: 5%;
    ;
}

.text {
    display: flex;
    flex-direction: row;
}

.text:before, .text:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: 0% 4% 5% 4%;

}

.text:before {
    margin-right: 5%
}

.text:after {
    margin-left: 5%
}

.end-content {
    background-color: white;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.end-content li {
    border: thin solid #999999;
    width: 100%;
}

.footer-copyright {
    margin-top: 2%;
    font-size: 0.8em;
    color: #9e9e9e;

}

.footer-strip {
    display: flex;
    list-style-type: none;
    font-size: 0.6em;
    justify-content: center;
    margin-bottom: 10%;

}

/* <!-- //icons// --> */
.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    background-color: #fff;
}

.mobile-bottom-nav__item {
    flex-grow: 1;

    font-size: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active {

    color: red !important;
}

.mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
    color: #9e9e9e;

}

.mobile-bottom-nav__item-content a {
    color: #9e9e9e;
    text-decoration: none;
    font-size: 0.8em;
}

/* =====================================Cart Page===================================== */

.cart-content {
    background: white;


}

.cartstrip {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin-bottom: 1em;

}

.cartstrip input {
    width: 70%;

    font-size: 0.8em;


}

.cartstrip a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(255, 135, 99), rgb(255, 51, 12));
    font-size: 0.8em;
    padding: 0.5em 1.5em 0.7em 1.5em;
}

.checkoutbtn a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(255, 135, 99), rgb(255, 51, 12));
    font-size: 1.2em;
    padding: 0.3em 1em 0.4em 1em;


}

.cart {
    display: flex;
    align-items: center;
    margin: 1em;
}

.cart input {


    padding: 0.5em;
}

.mycartproduct {
    background-color: white;
    display: flex;

    align-items: center;
    list-style-type: none;
    margin-bottom: 1em;

}

.mycartproduct img {
    width: 100%;


}



/* =====================================Profile Page===================================== */

/* //profile-header// */
.profile-header {
    background: linear-gradient(to right, #442e93 0, #25a5d8 100%);
    color: white;


}

.profile-dropdown {
    font-size: 0.7em !important;
    min-width: 0.8em !important;
}

.headertop {
    display: flex;
    justify-content: space-around;
    font-size: 0.7em;



}

.headertop2 {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
}

.headertop2 a {
    color: white;
    text-decoration: none;
    background-color: #ea7221;
    padding: 0.7em;
    margin-bottom: 1em;
}



.input-container {

    display: flex;
    align-items: center;
    font-size: 1em;
}


input[type="checkbox"] {
    border-radius: 50% !important;

    appearance: none;

    box-shadow: inset 0 0 0 0.125rem #666;
    height: 1.125rem;
    width: 1.125rem;
    display: inline-block;

    position: relative;

    margin-right: 0.2rem;


}

input[type="checkbox"]:checked {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgb(255, 51, 12)"/></svg>');
    background-position: center;
    box-shadow: none;



}


/* //profile-row//*/
.profilerow {
    background-color: white;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    color: #999999;
}

.profilerow ul {
    list-style-type: none;
    padding: 0;

}

.profilerow li {
    padding: 1em;
    border-bottom: 1px solid #ddd;

}

.profilerow a {
    text-decoration: none;
    color: black;

}

.profilerowstrip {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
    font-weight: 1em;
    padding: 1.4em;

}


/* ====================================registration==================================== */

.card {
    width: 100%;
  
   
}

.nav-pills {
    display: table !important;
    width: 100%;
   
}



.nav-item {
    display: table-cell;
    background-color: white !important;
   
}

.form {
    padding: 10px;
    height: 300px;

}

.form input {
    margin-bottom: 6%;
   
 
  
}


.form button {
    background-color: #f57224 !important;
    margin-top:30%;
}
.reg a{
    background-color: white !important;
    color: #9e9e9e !important;
    font-weight: bold;
    
}
.reg .active{
    color: #f57224 !important;
    text-decoration: underline;
}


