body {
    background: #e7e8ec;

}

/* <!-- searchbar --> */
.search-main {
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: 99;
}

.search-bar .form-control {
    padding-left: 2.375rem;

}

input::placeholder {
    color: #aaa !important;
    opacity: 0.8 !important;
}

.search-bar .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #6c757d;
    border: #ced4da;
}

/* <!-- slider --> */
.carousel-indicators button {
    border-radius: 100% !important;
    width: 0.3em !important;
    height: 0.3em !important;

}

/* <!-- promotion --> */
.promotion {
    margin-top: 7%;
}

/* <!-- //category bar// --> */
.channel-content {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 5%;
}

.channel-content img {
    width: 75%;
    margin-bottom: 0.2em;
}

/* <!-- //category section// --> */
.content-row {
    display: flex;
    justify-content: space-between;
    margin: 2%;

}

.categories {
    background-color: white;
    display: flex;

    list-style-type: none;

}

.categories img {
    width: 75%;
    margin-bottom: 0.2em;
}

.category-section {
    margin-bottom: 1em;
}

/* <!-- // most popular category section// --> */
.mostpopular-categories {
    background-color: white;
    display: flex;
    list-style-type: none;
}

.mostpopular-categories img {
    width: 70%;

}

.most-popular-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.most-popular-content span {
    margin: 0.2em;
}